.wide {
	width: 33.3%;
}

.center {
		margin-left: 33.3%;
		margin-right: 33.3%;
}

.nodisplay {
	display: none;
}

.boxit {
	width: 5.5%;
	height: 5.5%;
}

.loopbox {
	position: absolute;
	z-index: -1;
}

.top {
	position: absolute;
	z-index: 1;
}

.transparent {
	background-color: transparent;
}
