.wide {
	width: 50%;
}

.center {
		margin-left: 30%;
		margin-right: 30%;
}

.nodisplay {
	display: none;
}

.boxit {
	width: 300px;
	height: 300px;
}

body {
	background-color: 145818;
}

.t {
	background-color: red;
	width: 1px;
	height: 1px;
}
